body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    width: 100%;
    height: 50vh;
    font-size: 10vw; /* responsive font size */
    border: none;
    position: relative;
    transition: top ease 0.2s;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
}

.btn:active {
    top: 5px;
}

#yesButton {
    color: white;
}

#noButton {
    color: white;
}
