body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
    height: 50vh;
    font-size: 2em;
    border: none;
}

#yesButton {
    background-color: green;
    color: white;
}

#noButton {
    background-color: red;
    color: white;
}
